body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.lead {
  text-align: center;
  font-family: 'Cabin', sans-serif;

}


.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #bdc2bf;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.present {
  background-color: #ED6A5A;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.future {
  background-color: #136F63;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #63B0CD;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
